/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, input, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: "Microsoft JhengHei";
}
.wrap{
	width: 1002px;
	margin: 0 auto;
}
.social-media{
	background-color: #f6f6f6;
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}
.social-media a{
	display: flex;
	padding: 5px 10px;
	text-decoration: none;
}
.social-media a img{
	padding-right: 2px;
}
.line{
	background-color: #cccccc;
	height: 15px;
	width: 1px;
	margin: 5px 0;
}
.facebook{
	color: #4460a0;
}
.twitter{
	color: #00aaec;
}
.facebook:hover, .twitter:hover{
	font-weight: bold;
}
.menu-part{
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 0 30px;
}
.menu-part h1 a{
	background-image: url(../images/logo.png);
	width: 170px;
	height: 36px;
	display: block;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
.menu{
	display: flex;
	align-items: center;
	position: relative;
}
.menu li a{
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #00cc99;
	padding: 15px;
	margin: 0 5px 0 8px;
	border-bottom: 5px solid transparent;
}
.menu li a:hover, .menu li a.active{
	border-bottom: 5px solid #00cc99;
}
.menu .product{
	position: absolute;
	display: none;
	z-index: 2;
	background: white;
}
.swiper-container {
	width: 1002px;
	height: 346px;
    --swiper-theme-color: #00cc99;
}
.banner{
	background-image: url(../images/banner.png);
	height: 346px;
	display: flex;
	align-items: center;
}
.banner h2{
	font-size: 38px;
	color: white;
	line-height: 45px;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	width: 1002px;
}
.main{
	display: flex;
	margin: 40px 10px;
}
.main li{
	flex: 1;
	text-align: center;
	padding: 15px;
	margin: 20px;
	box-shadow: 0 2px 2px gray;
	border-radius: 3px;
}
.main li .example-image-link{
	display: block;
	text-decoration: none;
}
.main li div{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main li h4{
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	color: black;
}
.main li p{
	line-height: 22px;
	text-align: justify;
	color: black;
}
.main .list li{
	list-style: disc;
	text-align: left;
	padding: 0;
	margin: 0 0 0 6px;
	box-shadow: none;
	line-height: 22px;
	list-style-position: inside;
	color: black;
}
.chart{
	padding-bottom: 65px;
}
.chart h3{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 40px 0;
}
.chart table{
	display: flex;
	justify-content: center;
}
.chart th, .chart td{
	width: 190px;
	text-align: left;
	padding: 8px 0 12px 23px;
	border-bottom: 2px solid #dddddd;
}
.chart th{
	border-top: 2px solid #dddddd;
	font-weight: bold;
	background: #f7f7f7;
}
.chart tr:hover{
	background-color: #ebfffa;
}
.accent{
	color: #00a67d;
	font-weight: bold;
}
.sheet{
	background-image: linear-gradient(#00644c, #009772);
	padding: 30px;
}
.sheet h3{
	font-size: 25px;
	text-align: center;
	color: white;
	line-height: 37px;
	margin-bottom: 25px;
}
.sheet form{
	display: flex;
}
.sheet textarea{
	flex: 1;
	border-radius: 5px;
	padding: 10px;
	width: 442px;
}
.sheet .info{
	flex: 1;
	margin-left: 28px;
}
.sheet label{
	color: white;
	padding-bottom: 7px;
	display: block;
}
.sheet li input{
	border-radius: 3px;
	margin-bottom: 13px;
	width: 440px;
	height: 32px;
	padding-left: 10px;
}
.sheet textarea:focus, .sheet li input:focus{
	background-color: rgb(224, 224, 224);
	outline: 0;
	border-color: #94989b;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 8px rgba(59, 149, 223, 0.6);
}
.sheet .button{
	display: flex;
	justify-content: flex-end;
}
.sheet .button input{
	background-color: #00cc99;
	color: white;
	width: 70px;
	height: 32px;
	border-radius: 3px;
	border: none;
	margin-top: 6px;
	cursor: pointer;
}
.sheet .button input:hover{
	background-color: lightseagreen;
}
.footer{
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
.bottom{
	display: flex;
	flex-direction: column;
}
.bottom p{
	padding: 5px;
}
.bottom p a:link{
	color: #e12d80;
}
.bottom p a:hover{
	color: crimson;
}
.bottom p a:active{
	color: black;
}
.bottom p a:visited{
	color: rgb(162, 0, 255);
}
.top-box{
	position: fixed;
	right: 60px;
	bottom: 20px;
}
.to-top{
	font-size:250%;
	text-align:center;
	color:#00cc99;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:#00cc99;
	text-decoration:none;
	transition:all .3s;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em #00cc99;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
}
.to-top:hover{
	color: rgb(255, 145, 0);
	border-color: rgb(255, 145, 0);
}